body {
    background: url("../images/BackgroundImg.jpg");
    /* margin-left: 5%;
    margin-right: 5%; */
}

img {
    height: 200px;
    /* width: 180px; */
    width: 20%;
}

button {
    align-items: auto;

}

.crystals {
    margin-top: 20%;
}

#header {
    background-color: brown;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}